*{
    margin: 0px;
    padding: 0px;
}

header img{

    width:220px;
    height: 60px;
}
a{
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    background-color: rgba(89, 0, 255, 0.61);
    align-items: center;
}
.nav-link{
    list-style: none;
}

.nav-link li{
    display: inline-block;
    padding-left: 10px;
    margin: 20px;

    
}

.nav-link li a:hover{
    color:red
}
.btn-Login {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(128, 128, 128, 0.87);
    margin: 20px;
}
.btn-Login:hover{
    background-color: rgba(0, 0, 255, 0.664);
    cursor: pointer;
    
}
.big{
    font-size: 65px;
}
.main-img{
    height: 400px;
    width: 500px;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(166, 153, 211);
    
}
.Getting-started {
    color: blue;
    background-color: aquamarine;
    border-radius: 2cqb;
    border-style: none;
    margin: 40px;
    width: 120px;
    height: 140;
    margin-top: 80px;
    margin-left: 50px;
    align-items: center;
    font-size: 20px;

}
.Getting-started:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: yellowgreen;
}
.big1{
    font-size: 40px;
    text-align: center;
}
.abc{
    width: 7%;
    padding-left: 40px;
}
.client-logo{
    justify-content: center;
    display: flex;
    align-items: center;

}
.client-logo img {
    margin: 0 20px;
}

.main1{
    background-color: #d9ddd6fb;
}
.big2{
    font-size: 40PX;
    justify-content: center;
    display: flex;
}
.abc{
    width: 7%;
    padding-left: 40px;
}
.big2{
    font-size: 40px;
    justify-content: center;
    display: flexbox;
}
.big2{
    background-color: rgba(137, 43, 226, 0.322);
}

.main222{
    display: flex;
    justify-content: space-around;
}
.main222 img {
    width: 500px;
}
.main222 p{
    width: 500px;
}